<div class="p-2">
	<a id="btnMensaje" class="btn btn-primary">Mostar mensaje</a>
</div>

@section Scripts
{
	<script type="text/javascript">
		$(function () {
            $("#btnMensaje").click(function () {
                Swal.fire({
                    title: 'Do you want Continue ?',
                    text: "You need to pay extra amount",
                    icon: 'success',
                    showCancelButton: true,
                    confirmButtonText: 'Yes'
                }).then((result) => {
                    if (result.isConfirmed) {
                        Swal.fire(
                            'Confirmed!',
                            'You agreed to pay extra amount.',
                            'success'
                        )
                    } else {
                        console.log('clicked cancel');
                    }
                })
            });
		});

	</script>
}
